body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffe6f0;
    color: #4a004d;
  }

  .header {
    background-color: #ff7ecf;
    color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;

  }
  .textos{
    text-align: center;
  }
  
  .textos h1{
    margin: 0;
    font-size: 32px;
  }

  .textos p{
    margin: 5px 0 0;
    font-size: 18px;
  }
  
  nav {
    background-color: #ffb3d9;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
  }

  nav a {
    color: #4a004d;
    text-decoration: none;
    font-weight: bold;
  }

  section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
  }

  .card {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  footer {
    background-color: #ff80bf;
    color: white;
    text-align: center;
    padding: 20px;
  }